/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Bodoni', serif;
  font-size: 16px;
  background: black;
  color: #FFE3F1;
}
nav {
  background: #303030;
  padding: 0 15px;
  width: 96%;
  margin-left: 2%;
  border-radius: 50px;
  margin-top: 2%;
}
a {
  color: #FFE3F1;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}


.logo a img {
color: #00C9C8;
width: 8%;
height: 8%;
}

.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #DD851D;
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bodoni', serif;
}
.menu li a {
  display: block;
  padding: 15px 5px;
  font-size: 20px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

.email-icon, .insta-icon {
color: #DD851D;
}

.email-icon:hover , .insta-icon:hover {
color: #DD851D;
}






.text_intro {
    text-align: left;
    color: #00C9C8;
    margin-top: 5%;
  }
  
  


  

.product-section {
margin-bottom: 4rem;
margin-top: 5%;
margin-left: 3%;
margin-right: 3%;
}

.product-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 2rem;
}

.product {
background-color: black;
color: white;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
overflow: hidden;
transition: all 0.3s ease;
}


.product a {
  text-decoration: none;
}

.product:hover {
transform: translateY(-5px);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product img:first-child {
width: 100%;
height: 300px;
object-fit: cover;
margin-bottom: -4px;
}

.product img:last-child {
width: 100%;
height: 300px;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
opacity: 0;
transition: opacity 0.3s ease-in-out;
}

.product:hover img:last-child {
opacity: 1;
}

.product h3 {
font-size: 1.25rem;
margin: 1rem;
}

.product p {
margin: 1rem;
font-size: 0.9rem;
line-height: 1.3;
}

.product button {
display: block;
margin: 1rem auto;
padding: 0.5rem 1rem;
border: none;
background-color: #333;
color: #fff;
font-size: 1rem;
letter-spacing: 1px;
border-radius: 4px;
cursor: pointer;
transition: all 0.3s ease;
}

.product button:hover {
background-color: #fff;
color: #333;
border: 1px solid #333;
}






.connect {
  display: flex;
  flex-direction: column; /* Stack elements vertically on mobile */
  align-items: center;
  padding: 20px;
  margin-top: 3%;
  margin-bottom: 12%;
}

.connect_text {
  text-align: center; /* Center text on mobile */
  margin: 20px; /* Increase margin for spacing */
}

.connect h1 {
  margin-bottom: 20px;
  font-size: 55px; /* Smaller font size for mobile */
  color: #FF77C4;
}

.connect h3 {
  margin-top: 2%;
  
}

.connect button {
  background-color: #303030;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
}

.connect_image {
  text-align: center; /* Center image on mobile */
  margin: 20px; /* Increase margin for spacing */
}

.connect_image img {
  max-width: 40%; /* Make the image responsive */
  border-radius: 50%;
  }




.section-separator {
  border: none;
  border-top: 1px solid #FFE3F1;
  margin-bottom: 80px;
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
}

.section-separator:nth-of-type(1) {
margin-top: 1px;
}





.site-footer {
  background-color: #26272b;
  padding: 50px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
  
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.site-footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.site-footer .col-md-4 {
  flex: 0 0 30%;
  max-width: 30%;
  margin-left: 3.33%;
  margin-bottom: 5%;
  
}

.footer-section {
  margin-bottom: 30px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-links li {
  flex: 0 0 60%;
}

.footer-links a {
  color: #737373;
  text-decoration: none;
}

.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.site-footer .col-md-8 {
width: 100%;
  text-align: center; /* Add this to center the text horizontally */
}

.social-icons {
  padding-left: 0;
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icons li {
  margin-right: 10px;
  
}

.social-icons a {
  color: #737373;
  font-size: 18px;
   display: flex; /* Added */
  align-items: center; /* Added */
  justify-content: center; /* Added */
  line-height: 1;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #eceeef;
  transition: all 0.2s linear;
  margin-top: 5px;
  text-decoration: none;
}

.social-icons li:nth-child(1) a:hover {
  color: black;
  background-color: red;
}

.social-icons li:nth-child(2) a:hover {
color: black;
  background-color: blue;
}

.social-icons li:nth-child(3) a:hover {
color: black;
  background-color: green;
}

.social-icons li:nth-child(4) a:hover {
color: black;
  background-color: orange;
}


.copyright-text {
margin-top: 3%;
}


/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}


@media all and (max-width: 768px) {
  
 
  
  .text_intro h1 {
  font-size: 20px;
  }
  
  .section-separator:nth-of-type(1) {
margin-top: 5%;
}

.section-separator {
margin-bottom: 5%;
margin-top: 5%;
}

.connect {
    margin-top: 5%; /* Adjust margin for smaller screens */
    margin-bottom: 5%; /* Adjust margin for smaller screens */
  }

  .connect h1 {
    font-size: 24px; /* Further reduce font size for smaller screens */
  }

  .connect button {
    padding: 8px 16px; /* Further reduce button size for smaller screens */
  }

  .logo {
  display: none;}



}


/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}